p{
  color: #8B4513;
  font-size: 20px;
  text-align: center;
}
body{
    background-color: #8FBC8F;
    margin-left: 100px;
    margin-right: 100px;
}
h1{
  color: #DEB887;
  font-size: 65px;
  text-align: center;
  -webkit-text-stroke: 2px #8B4513;
}
h2{
  color: #DEB887;
  font-size: 30px;
  text-align: center;
  -webkit-text-stroke: 1px #8B4513;
}
h3{
  color: #DEB887;
  font-size: 30px;
  text-align: center;
  -webkit-text-stroke: 1px #8B4513;
}
.lockandkey{
  border-color: #FFF5EE;
  border-width: medium;
  display:flex ;
  justify-content: center;
}
#activate{
  text-align: center;
  font-size: 30px;
  color: #8B4513;
}
